<html lang="en" ng-app="StarterApp">
  <head>
    <title>Crud App</title>
    <link rel="stylesheet" href="lib/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body layout="column">
    <md-toolbar layout="row">
      <h2>
        <span>CRUD APP</span>
      </h2>
    </md-toolbar>
    <!-- LoadValue Controller -->
    <md-content class="md-padding" ng-controller="LoadValueController">
      
          <div layout="row" layout-align="center center">
            <h2 class="md-title">Crud Application</h2>
            <md-button class="md-raised md-primary" ng-click="loadData()"> Load Value</md-button> 
          </div>
          <div layout="row" layout-align="center center">
            <md-progress-circular class="progress-bar" ng-if="isSearching" md-mode="indeterminate"></md-progress-circular>
          </div>
          <div ng-repeat="val in values" layout="row" layout-align="center center">
              <div layout="" layout-sm="column">
                <md-card>
                 <md-card-content>
                    <md-button class="md-fab md-mini" ng-click="delData(val.id)"> X </md-button>
                    <md-input-container flex="">
                        <h2 class="md-title">{{val.name}}</h2>
                    </md-input-container>
                    <md-input-container flex="">
                      <h3 class="md-title">{{val.Phone}}</h3>
                    </md-input-container>
                </md-card-content>
               </md-card>
              </div>
              
          </div>
        
    </md-content>
    
    <!-- Angular Material Dependencies -->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/angular-material.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>